
.header {
  border: 2px solid: #A8A984;
  border-radius: 15px;
  /* background-color: #A0A399; */
  padding: 1em;
  color: #9A320A;
  font-size: xx-large;
  font-weight: 8000;
  font-height: 200px;
  font-variant: xx-large;
  }

.sidebar {
  color: #A23A0A;
  background-color: #A8A569;


  }

.bb{
background: #24AC98;
border: 2px solid #24AC99;
border-radius: 9px;
color: #4FAAA2;
padding: 1em;
font-family: Georgia, serif;
display: vertical;
font-size: 26px;
font-style: normal;
font-variant:  large;
font-weight: normal;
line-height: 19px;
padding: 1em;
text-align: center;
text-decoration: none;
text-transform: none;
}

.bb:hover {
background: #1C6EA4;
text-transform: Drop;

}


.bb:active {
background: #144E75; }

@keyframes Drop {
    000% {left:0px; top: 300px;}
    005% {left:0px; top: 290px;}
    010% {left:0px; top: 200px;}
    024% {left:0px; top: 193px;}
    056% {left:0px; top: 195px;}
    078% {left:0px; top: 194px;}
    100% {left:0px; top: 000px;}
}
