
.grid {
display: grid;
grid-template-columns:repeat(5, auto);
grid-template-rows: repeat(20, 4em) ;

}




.nested {
  padding: 1em;
}


.boxhead {
  align: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-end: 1;
  grid-row-start: 1;
  padding-top: 10px;
  text-align: center;
}
.boxDesc {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:3;
  grid-row-end:15;
  flex
  text-align: center;
}

.boxcurrent {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:3;
  grid-row-end:15;
  text-align: center;
}

.boxOW {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3 ;
  grid-row-end: 15;
  text-align: center;
}

.boxCR{
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3 ;
  grid-row-end: 15;
  text-align: center;
}

.boxNW{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3 ;
  grid-row-end: 15;
  text-align: left;
}

.sun {
  padding: 1em;
  padding-right: 4em;
 grid-column-start:4; 
 grid-column-end:5; 
 grid-row-start:1;
 text-align: center;
}

.time {
  padding: 2em;
 grid-column-start:1; 
 grid-column-end:1; 
 grid-row-start:1;
 text-align: center;
}

